<div class="row">
  <div *ngFor="let chart of charts; let c = index" [ngClass]="'col-' + chart.colSize">
    <div class="row">
      <div class="col-4">
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Headers</button>
          <button class="btn btn-outline-primary" (click)="plusChartSize()">+</button>
          <button class="btn btn-outline-primary" (click)="minosChartSize()">-</button>
          <button class="btn btn-outline-primary">Remove</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">

            <button *ngFor="let option of chart.menuOptions; let i = index" ngbDropdownItem (click)="columnSelected(i, chart, c)">
              {{ option }}
            </button>

          </div>
        </div>
      </div>

      <div class="col-12" *ngIf="chart.selectedIndex != null">
        <app-echart [(chart)]="chart"></app-echart>
      </div>

    </div>

  </div>
</div>